<div>

  <ul *ngIf="appInfo != null">
    <li>App id: {{appInfo.id}}</li>
    <li>App name: {{appInfo.name}}</li>
      <ul>
        <li>Loaded custom libraries</li>
        <li *ngFor="let item of appInfo.settings"> {{item}}</li>
      </ul>
    <li> Current profile: 
      <span *ngIf="appInfo.springProfile =='LOCAL' " class="badge badge-primary">{{appInfo.springProfile}}</span>
      <span *ngIf="appInfo.springProfile =='DEV' " class="badge badge-warning">{{appInfo.springProfile}}</span>
      <span *ngIf="appInfo.springProfile =='PROD' " class="badge badge-danger">{{appInfo.springProfile}}</span>
    </li>

  </ul>

</div>