
<div class="card">
  <div class="header">
    <h2 class="title">Trace info</h2>
  </div>
</div>
<div class="card" *ngIf="trace != null">
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Date added</th>
          <th class="border-top-0" scope="col">Instance Id</th>
          <th class="border-top-0" scope="col">Event Id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{trace.id}}</td>
          <td>{{trace.dateAdded}}</td>
          <td>{{trace.instanceId}}</td>
          <td>{{trace.eventId}}</td>
        </tr>
        <tr>
          <td colspan="6" >Tag: {{trace.tagDescription}}</td>
        </tr>
        <tr>
          <td colspan="6" >Description: {{trace.tagDescription}}</td>
        </tr>
        <tr>
          <td colspan="6" ><textarea class="form-control" rows="5">{{trace.info}}</textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

