
<div class="card">
  <div class="header">
    <h2 class="title">Trace list</h2>
  </div>
</div>
<div class="card" *ngIf="traceList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Date added</th>
          <th class="border-top-0" scope="col">Instance Id</th>
          <th class="border-top-0" scope="col">Event Id</th>
          <th class="border-top-0" scope="col">Tag</th>
          <th class="border-top-0" scope="col">Tag description</th>

          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of traceList" [class.active]="item === selectedTrace">
        
          <td>{{item.id}}</td>
          <td>{{item.dateAdded}}</td>
          <td>{{item.instanceId}}</td>
          <td>{{item.eventId}}</td>
          <td>{{item.tag}}</td>
          <td>{{item.tagDescription}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['/traces', item.id]" class="btn btn-secondary">Info</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

