<div class="card">
  <div class="header">
    <h2 class="title">{{formHeader}}</h2>
  </div>

  <div class="card" *ngIf="eventTemplate != null">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>

    <form [formGroup]="eventTemplateForm" (ngSubmit)="onSubmit()">

      <ul>
        <li>name: {{eventTemplate.name }} </li>
        <li>description: {{eventTemplate.description }} </li>
        <li>
          <ul>
            <li *ngFor="let connector of eventTemplate.eventTemplateConnectors">
              <ul>
                <li>Connector: {{connector.connectorName}}</li>
                <li>Class: {{connector.className}}</li>
                <li>Is primary: {{connector.primaryConnector}}</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>{{eventTemplate.queueName }} </li>
        <li>{{eventTemplate.routeDefinition!= null ? eventTemplate.routeDefinition.substring(0,50)+'...' : null }} </li>
        <li>{{eventTemplate.message }} </li>
        <li>{{eventTemplate.traceEnabled }} </li>
        <li>{{eventTemplate.inactive }} </li>
      </ul>

      <div class="form-group">
        <input formControlName="name" placeholder="name" class="form-control">


        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">

          <div *ngIf="f.name.errors.required">
            name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="description" placeholder="description" class="form-control">


        <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="alert alert-danger">

          <div *ngIf="f.description.errors.required">
            description is required
          </div>
        </div>
      </div>

      <div formArrayName="eventTemplateConnectors">
        <div *ngFor="let connector of eventTemplateConnectors().controls; let connectorIndex=index">

          <div [formGroupName]="connectorIndex" class="form-group">
            <div class="form-inline">
              <select formControlName="connectorId" class="form-control">
                <option *ngFor="let connector of connectorLookup" [ngValue]="connector.id">{{connector.name}}</option>
              </select>

              <div class="form-group">
                <input formControlName="className" placeholder="class name" class="form-control">
              </div>

              <div class="form-group">
                <input type="checkbox" formControlName="primaryConnector" class="form-control">
              </div>

              <button type="button" class="btn btn-danger"
                (click)="removeEventTemplateConnector(connectorIndex)">X</button>
            </div>

            <div
              *ngIf="connector.get('connectorId').invalid && (connector.get('connectorId').dirty || connector.get('connectorId').touched)"
              class="alert alert-danger">
              <div *ngIf="connector.get('connectorId').errors.required">
                Connector is required.
              </div>
            </div>

          </div>

        </div>

        <button type="button" class="btn btn-secondary" (click)="addEventTemplateConnector()">Add</button>


      </div>

      <div class="form-group">
        <select formControlName="queueName" class="form-control">
          <option *ngFor="let name of queueNameLookup" [ngValue]="name">{{name}}</option>
        </select>
        <div *ngIf="f.queueName.invalid && (f.queueName.dirty || f.queueName.touched)" class="alert alert-danger">
          <div *ngIf="f.queueName.errors.required">
            Queue name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea formControlName="routeDefinition" placeholder="route definition"  class="form-control" rows="10"></textarea>


        <div *ngIf="f.routeDefinition.invalid && (f.routeDefinition.dirty || f.routeDefinition.touched)"
          class="alert alert-danger">

          <div *ngIf="f.routeDefinition.errors.required">
            routeDefinition is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea formControlName="message" placeholder="message"  class="form-control" ></textarea>


        <div *ngIf="f.message.invalid && (f.message.dirty || f.message.touched)" class="alert alert-danger">

          <div *ngIf="f.message.errors.required">
            Message is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="checkbox" formControlName="traceEnabled" class="form-control">
      </div>


      <div class="form-group">
        <input type="checkbox" formControlName="inactive" class="form-control">
      </div>


      <button type="submit" class="btn btn-secondary" [disabled]="!eventTemplateForm.valid">Save</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>

    </form>

  </div>