<div class="card">
  <div class="header">
    <h2 class="title">Event templates</h2>
  </div>
</div>
<div class="card" *ngIf="eventTemplatesPageable != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  
    Total: {{eventTemplatesPageable.totalElements}} Current:{{eventTemplatesPageable.numberOfElements}}

    <form  [formGroup]="eventTemplateForm" (ngSubmit)="onSubmit()">
      
    <table class="table table-centered table-hover mb-0 table-sm table-responsive" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">name</th>
          <th class="border-top-0" scope="col">description</th>
          <th class="border-top-0" scope="col">connector</th>
          <th class="border-top-0" scope="col">queueName</th>
          <th class="border-top-0" scope="col">routeDefinition</th>
          <th class="border-top-0" scope="col">message</th>
          <th class="border-top-0" scope="col">traceEnabled</th>
          <th class="border-top-0" scope="col">inactive</th>
          <th class="border-top-0" scope="col"></th>
        </tr>

      </thead>
      <tbody>

        <tr>

          <td>
            {{f.id.value || 'n/a'}} 
          </td>
          <td>
                        <div class="form-group">
                          <input formControlName="name" placeholder="name">
                        
                        
                          <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                        
                            <div *ngIf="f.name.errors.required">
                              name is required
                            </div>
                          </div>
                        </div>
          </td>
            <td>
              <div class="form-group">
                <input formControlName="description" placeholder="description">
            
            
                <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="alert alert-danger">
            
                  <div *ngIf="f.description.errors.required">
                    description is required
                  </div>
                </div>
              </div>
            </td>
          <td >

              <div formArrayName="eventTemplateConnectors">
                <div *ngFor="let connector of eventTemplateConnectors().controls; let connectorIndex=index">
                    
                  <div [formGroupName]="connectorIndex" class="form-group">
                    <div class="form-inline">
                      <select formControlName="connectorId" class="form-control">
                        <option *ngFor="let connector of connectorLookup" [ngValue]="connector.id">{{connector.name}}</option>
                      </select>

                      <div class="form-group">
                        <input formControlName="className" placeholder="class name">
                      </div>

                      <div class="form-group">
                        <input type="checkbox" formControlName="primaryConnector" class="form-control">
                      </div>

                  <button type="button" class="btn btn-danger btn-sm" (click)="removeEventTemplateConnector(connectorIndex)">X</button>
                    </div>

                      <div
                        *ngIf="connector.get('connectorId').invalid && (connector.get('connectorId').dirty || connector.get('connectorId').touched)"
                        class="alert alert-danger">
                        <div *ngIf="connector.get('connectorId').errors.required">
                          Connector is required.
                        </div>
                      </div>



                  </div>

                   



                </div>

                  <button type="button" class="btn btn-secondary btn-sm" (click)="addEventTemplateConnector()">Add</button>


              </div>

          </td>
                      
                      <td>

                          <div class="form-group">
                            <select formControlName="queueName" class="form-control">
                              <option *ngFor="let name of queueNameLookup" [ngValue]="name">{{name}}</option>
                            </select>
                            <div *ngIf="f.queueName.invalid && (f.queueName.dirty || f.queueName.touched)" class="alert alert-danger">
                              <div *ngIf="f.queueName.errors.required">
                                Queue name is required.
                              </div>
                            </div>
                          </div>

                      </td>
                                      <td>
                                        <div class="form-group">
                                          <textarea formControlName="routeDefinition" placeholder="route definition"></textarea>
                                      
                                      
                                          <div *ngIf="f.routeDefinition.invalid && (f.routeDefinition.dirty || f.routeDefinition.touched)"
                                            class="alert alert-danger">
                                      
                                            <div *ngIf="f.routeDefinition.errors.required">
                                              routeDefinition is required
                                            </div>
                                          </div>
                                        </div>
                                      </td>
  <td>
    <div class="form-group">
      <textarea formControlName="message" placeholder="message"></textarea>
  
  
      <div *ngIf="f.message.invalid && (f.message.dirty || f.message.touched)" class="alert alert-danger">
  
        <div *ngIf="f.message.errors.required">
          Message is required
        </div>
      </div>
    </div>
  </td>
            

        <td >

          <div class="form-group">
            <input type="checkbox" formControlName="traceEnabled" class="form-control" >
          </div>

        </td>
              <td>
              
                <div class="form-group">
                  <input type="checkbox" formControlName="inactive" class="form-control">
                </div>
              
              </td>

            <td>
      <button type="submit" class="btn btn-secondary btn-sm" [disabled]="!eventTemplateForm.valid" >Save</button>&nbsp;
      <button type="button" class="btn btn-secondary btn-sm" (click)="clearForm()" >Clear</button>

          </td>
    </tr>

        <tr *ngFor="let item of eventTemplatesPageable.content" >
            <td>{{item.id }} </td>
            <td>{{item.name }} </td>
            <td>{{item.description }} </td>

            <td>
              <table>
                  <tr *ngFor="let connector of item.eventTemplateConnectors">
                    <td>{{connector.connectorName}}</td>
                    <td>{{connector.className}}</td>
                    <td>{{connector.primaryConnector}}</td>
                  </tr>
              </table>
            </td>

            <td>{{item.queueName }} </td>
            <td>{{item.routeDefinition!= null ? item.routeDefinition.substring(0,50)+'...' : null  }} </td>
            <td>{{item.message }} </td>
            <td>{{item.traceEnabled }} </td>
            <td>{{item.inactive }} </td>
          <td style="white-space: nowrap">
            <a *ngIf="item.id" [routerLink]="['/eventtemplates/', item.id ]" class="btn btn-secondary btn-sm">Edit</a>&nbsp;
            <button type="button" (click)="delete(item)" class="btn btn-danger btn-sm">Delete</button>&nbsp;
            <a [routerLink]="['../traces/event', item.id ]" class="btn btn-secondary btn-sm">Trace</a>&nbsp;
            <button type="button" (click)="deleteTrace(item)" class="btn btn-danger btn-sm">Delete Trace</button>
          </td>
        </tr>
      </tbody>
    </table>

  </form>

  </div>
