
<div class="card">
  <div class="header">
    <h2 class="title">Mapping template List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      <a [routerLink]="['../events', 'new' ]" class="btn btn-primary active" role="button" >New</a> 
    </form>
  </div>
</div>
<div class="card" *ngIf="mappingTemplateList?.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Description</th>
          <th class="border-top-0" scope="col">Source Template</th>
          <th class="border-top-0" scope="col">Target Template</th>
          <th class="border-top-0" scope="col">Transform Script</th>
          <th class="border-top-0" scope="col">Maps</th>

          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mappingTemplateList" [class.active]="item === selectedMappingTemplate">
        
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.sourceTemplate.name}}</td>
          <td>{{item.targetTemplate.name}}</td>
          <td>{{item.transformScript}}</td>
          <td> 
            <table>
              <tr *ngFor="let map of item.maps">
                <td >Id: {{ map.id }}</td>
                <td >Inactive? {{ map.inactive ? 'true' : 'false' }}</td>
                <td >
                  <ul>
                    <li *ngFor="let source of map.source">
                      <ul>
                        <li>{{ source.name}}</li>
                        <li>{{ source.dataType}}</li>
                        <li>{{ source.value}}</li>
                        <li>{{ source.defaultValue}}</li>
                        <li>{{ source.depth}}</li>
                      </ul>
                    </li>
                  </ul>
                </td>
                <td >
                  <ul>
                    <li>{{ map.function }}</li>
                    <li>{{ map.clientFunction }}</li>
                  </ul>
                </td>
                <td >
                  <ul>
                    <li>{{ map.target.name}}</li>
                    <li>{{ map.target.dataType}}</li>
                    <li>{{ map.target.value}}</li>
                    <li>{{ map.target.defaultValue}}</li>
                    <li>{{ map.target.depth}}</li>
                  </ul>
                </td>
              </tr>
            </table>
        </td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../mappingtemplates', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>&nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

