<div class="card">
  <div class="header">
    <h2 class="title">{{formHeader}}</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="mappingTemplate" [formGroup]="mappingTemplateForm" (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <label>Id</label>
        {{mappingTemplate.id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" class="form-control">


        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
        class="alert alert-danger">
    
      <div *ngIf="f.name.errors.required">
        Mapping template name is required.
      </div>
    </div>
        
      </div>
    
      <div class="form-group">
        <label for="description">Description</label>
        <input formControlName="description" class="form-control">

    </div>

    <div class="form-group">
      <label for="transformScript">Transform Script</label>
      <code>
        <textarea formControlName="transformScript" class="form-control"></textarea>
      </code>
    </div>

<div>
  Mappings

  <!-- <pre>{{ mappingTemplateForm.value | json}}</pre> -->
<div formArrayName="maps" *ngFor="let item of mappigForm.controls; let mappingIndex = index;">
  
  <div [formGroupName]="mappingIndex">

    <!-- <select formControlName="profile">
      <option [ngValue]="0" selected>All</option>
      <option [ngValue]="1">Local</option>
      <option [ngValue]="2">Development</option>
      <option [ngValue]="3">Production</option>
    </select> -->

    <table>
      <tr>
        <td class="align-top" >
          {{mappingIndex}}
      </td>
        <td class="align-top" >
            <input type="checkbox" formControlName="inactive" >
        </td>
        <td>

       <div formArrayName="source">
<table>

  <tr *ngFor="let source of getSourceAttributes(mappingIndex).controls; let sourceIndex=index" >
    <td class="align-top" >
      <div [formGroupName] = "sourceIndex">

        <ul>
           <li>
             <input formControlName="name" placeholder="source name">
           </li>
           <li>

             <select formControlName="dataType">
              <option *ngFor="let type of dataTypes" [ngValue]="type">
                {{type}}
              </option>
            </select>

           </li>
           <li>
             <input formControlName="defaultValue" placeholder="source defaultValue">
           </li>
         </ul> 
     </div>
    </td>
    <td class="align-top">
      <button (click)="deleteSourceAttribute(mappingIndex, sourceIndex)" class="btn btn-danger" >Delete</button>
    </td>
  </tr>



      </table>

       </div>

             
              <button type="button" (click)="addSourceAttribute(mappingIndex)" class="btn btn-primary" >Add Source</button>



        </td>
        <td class="align-top" >
          <ul>
            <li>
              <input formControlName="function" placeholder="function">
            </li>
            <li>
              <input formControlName="clientFunction" placeholder="clientFunction">
            </li>
          </ul>
        </td>
        <td class="align-top" >


          <div formGroupName="target">

         <ul>
            <li>
              <input formControlName="name" placeholder="target name">
            </li>
            <li>

              <select formControlName="dataType">
                <option *ngFor="let type of dataTypes" [ngValue]="type">
                  {{type}}
                </option>
              </select>

            </li>
            <li>
              <input formControlName="defaultValue" placeholder="target defaultValue">
            </li>
          </ul> 

        </div>

        </td>
        <td class="align-top" >
          <button (click)="deleteMapping(mappingIndex)" class="btn btn-danger" >Delete</button>
        </td>
      </tr>
    </table>

  </div> 

</div>

<button type="button" class="btn btn-primary" [disabled]="!mappingTemplateForm.valid" (click)="addMapping()" >Add Mapping</button>

</div> 

      <button type="submit" class="btn btn-primary" [disabled]="!mappingTemplateForm.valid" >Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>




