<div class="card">
  <div class="header">
    <h2 class="title">Message attribute maps</h2>
  </div>
</div>
<div class="card" *ngIf="messageAttributeMapsPageable != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">

    <div *ngIf="messageTemplateMap">

      <ul class="list-unstyled">
        <li>
          Id: {{messageTemplateMap.id}}
        </li>
        <li>
          Name: {{messageTemplateMap.name}}
        </li>
        <li>
          Description: {{messageTemplateMap.description}}
        </li>
        <li>
          sourceMessageTemplateId: {{messageTemplateMap.sourceMessageTemplateId}}
        </li>
        <li>
          targetMessageTemplateId: {{messageTemplateMap.targetMessageTemplateId}}
        </li>
        <li>
          clientScript: {{messageTemplateMap.clientScript}}
        </li>
     </ul>

  </div>

    Total: {{messageAttributeMapsPageable.totalElements}} Current:{{messageAttributeMapsPageable.numberOfElements}}

    <form  [formGroup]="messageAttributeMapForm" (ngSubmit)="onSubmit()">

    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">sourceMessageAttributeId</th>
          <th class="border-top-0" scope="col">function</th>
          <th class="border-top-0" scope="col">clientFunction</th>
          <th class="border-top-0" scope="col">targetMessageAttributeId</th>
          <th class="border-top-0" scope="col">inactive</th>
          <th class="border-top-0" scope="col"></th>
        </tr>

      </thead>
      <tbody>

        <tr>

          <td>
            {{f.id.value || 'n/a'}} 
          </td>
          <td >

              <div formArrayName="sourceMessageAttributes">
                <div *ngFor="let sourceMessageAttribute of sourceMessageAttributes().controls; let sourceAttributeIndex=index">
                    
                  <div [formGroupName]="sourceAttributeIndex" class="form-group">
                    <div class="form-inline">
                      <select formControlName="sourceMessageAttributeId" class="form-control">
                        <option *ngFor="let attribute of sourceMessageAttributeLookup" [ngValue]="attribute.id">{{attribute.name}}</option>
                      </select>

                  <button type="button" class="btn btn-danger" (click)="removeSourceMessageAttribute(sourceAttributeIndex)">X</button>
                    </div>

                      <div
                        *ngIf="sourceMessageAttribute.get('sourceMessageAttributeId').invalid && (sourceMessageAttribute.get('sourceMessageAttributeId').dirty || sourceMessageAttribute.get('sourceMessageAttributeId').touched)"
                        class="alert alert-danger">
                        <div *ngIf="sourceMessageAttribute.get('sourceMessageAttributeId').errors.required">
                          Source message attribute is required.
                        </div>
                      </div>



                  </div>

                   



                </div>

                  <button type="button" class="btn btn-secondary" (click)="addSourceMessageAttribute()">Add</button>


              </div>

          </td>
          <td>
            <div class="form-group">
              <input formControlName="function" placeholder="function">
      
      
              <div *ngIf="f.function.invalid && (f.function.dirty || f.function.touched)"
              class="alert alert-danger">
          
            <div *ngIf="f.function.errors.required">
              Function is required
            </div>
          </div>
            </div>
          </td>
          <td >
            <div class="form-group">
              <input formControlName="clientFunction" placeholder="clientFunction">
          </div>
            
          </td>
          <td >

            <div class="form-group">
              <select formControlName="targetMessageAttributeId" class="form-control">
                <option *ngFor="let attribute of targetMessageAttributeLookup" [ngValue]="attribute.id">{{attribute.name}}</option>
              </select>
              <div *ngIf="f.targetMessageAttributeId.invalid && (f.targetMessageAttributeId.dirty || f.targetMessageAttributeId.touched)" class="alert alert-danger">
                <div *ngIf="f.targetMessageAttributeId.errors.required">
                  Target message attribute is required.
                </div> 
              </div>
            </div>


        </td>
        <td >

          <div class="form-group">
            <input type="checkbox" formControlName="inactive" class="form-control" >
          </div>

        </td>
            <td>
      <button type="submit" class="btn btn-secondary" [disabled]="!messageAttributeMapForm.valid" >Save</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="clearForm()" >Clear</button>

          </td>
    </tr>

        <tr *ngFor="let item of messageAttributeMapsPageable.content" >

          <td>{{item.id}}</td>
          <td>
            <ul>
              <li *ngFor="let source of item.sourceMessageAttributes">
                {{source.sourceMessageAttributeId}}
              </li>
            </ul>
          </td>
          <td>{{item.function}}</td>
          <td>{{item.clientFunction}}</td>
          <td>{{item.targetMessageAttributeId}}</td>
          <td>{{item.inactive}}</td>
          <td style="white-space: nowrap">
            <button type="button" (click)="setForEdit(item)" class="btn btn-secondary">Edit</button>&nbsp;
            <button type="button" (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </form>

  </div>
</div>