
<div class="card">
  <div class="header">
    <h2 class="title">Message template maps</h2>
  </div>
</div>
<div class="card" *ngIf="messageTemplateMapsPageable != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">

    Total: {{messageTemplateMapsPageable.totalElements}} Current:{{messageTemplateMapsPageable.numberOfElements}}

    <form  [formGroup]="messageTemplateMapForm" (ngSubmit)="onSubmit()">
    <table class="table table-centered table-hover mb-0 table-sm" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Description</th>
          <th class="border-top-0" scope="col">sourceMessageTemplate </th>
          <th class="border-top-0" scope="col">targetMessageTemplate</th>
          <th class="border-top-0" scope="col">clientScript</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>
              {{f.id.value || 'n/a'}} 
          </td>
          <td>
            <div class="form-group">
              <input formControlName="name" class="form-control">
      
      
              <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
              class="alert alert-danger">
          
            <div *ngIf="f.name.errors.required">
              Name is required.
            </div>
          </div>
              
            </div>
          </td>
          <td>
            <div class="form-group">
              <input formControlName="description" class="form-control">
      
          </div>
          </td>
          <td>
            <div class="form-group">
              <select formControlName="sourceMessageTemplateId" (change)="onSelectionSourceMessage($event)" class="form-control">
                <option *ngFor="let template of messageTemplates" [ngValue]="template.id">{{template.name}}</option>
              </select>
              <div *ngIf="f.sourceMessageTemplateId.invalid && (f.sourceMessageTemplateId.dirty || f.sourceMessageTemplateId.touched)" class="alert alert-danger">
                <div *ngIf="f.sourceMessageTemplateId.errors.required">
                  Source message template is required.
                </div> 
              </div>
            </div>

            <select formControlName="sourceMessageKeyAttributeId" (change)="onSelectionSourceMessage($event)" class="form-control">
              <option *ngFor="let attribute of sourceMessageAttributes" [ngValue]="attribute.id">{{attribute.name}}</option>
            </select>

            <select formControlName="targetMessageRelationshipAttributeId" (change)="onSelectionSourceMessage($event)" class="form-control">
              <option *ngFor="let attribute of sourceMessageAttributes" [ngValue]="attribute.id">{{attribute.name}}</option>
            </select>

          </td>
          <td>
            <div class="form-group">
              <select formControlName="targetMessageTemplateId" (change)="onSelectionTargetMessage($event)" class="form-control">
                <option *ngFor="let template of messageTemplates" [ngValue]="template.id">{{template.name}}</option>
              </select>
              <div *ngIf="f.targetMessageTemplateId.invalid && (f.targetMessageTemplateId.dirty || f.targetMessageTemplateId.touched)" class="alert alert-danger">
                <div *ngIf="f.targetMessageTemplateId.errors.required">
                  Target message template is required.
                </div> 
              </div>
            </div>

            <select formControlName="targetMessageKeyAttributeId" (change)="onSelectionSourceMessage($event)" class="form-control">
              <option *ngFor="let attribute of targetMessageKAttributes" [ngValue]="attribute.id">{{attribute.name}}</option>
            </select>

            <select formControlName="sourceMessageRelationshipAttributeId" (change)="onSelectionSourceMessage($event)" class="form-control">
              <option *ngFor="let attribute of targetMessageKAttributes" [ngValue]="attribute.id">{{attribute.name}}</option>
            </select>

          </td>
          <td>
            <div class="form-group">
              <textarea formControlName="clientScript" class="form-control"></textarea>
          </div>
          </td>

          <td style="white-space: nowrap">

            <button type="submit" class="btn btn-secondary btn-sm" [disabled]="!messageTemplateMapForm.valid" >Save</button>&nbsp;
            <button type="button" class="btn btn-secondary btn-sm" (click)="clearForm()" >Clear</button>

          </td>
        </tr>

        <tr *ngFor="let item of messageTemplateMapsPageable.content" >
        
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>
            {{item.sourceMessageTemplateName}}
            <ul>
              <li>K: {{item.sourceMessageKeyAttributeName}}</li>
              <li>TK: {{item.targetMessageRelationshipAttributeName}}</li>
            </ul>
          </td>
          <td>
            {{item.targetMessageTemplateName}}
            <ul>
              <li>K: {{item.targetMessageKeyAttributeName}}</li>
              <li>SK: {{item.sourceMessageRelationshipAttributeName}}</li>
            </ul>
          </td>
          <td>{{item.clientScript != null ? item.clientScript.substring(0,40)+'...' : null}}</td>

          <td style="white-space: nowrap">
            <a [routerLink]="['../messageattributemaps', item.id ]" class="btn btn-secondary btn-sm">Maps</a>&nbsp;
            <button type="button" (click)="setForEdit(item)" class="btn btn-secondary btn-sm">Edit</button>&nbsp;
            <button type="button" (click)="delete(item)" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>

