<div>


  <canvas baseChart class="my-4 w-100" width="900" height="380"
  [datasets]="chartData"
  [labels]="chartLabels"
  [options]="chartOptions"
  [plugins]="chartPlugins"
  [legend]="chartLegend"
  [chartType]="chartType">
</canvas>

<div class="table-responsive">
  <table class="table table-striped table-sm"  >
    <thead>
    <tr>
      <td></td>
      <th *ngFor="let col of cols" >{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td>{{ row | titlecase }}</td>
      <td *ngFor="let col of cols" >{{findVal(row, col)}}</td>
    </tr>
  </tbody>
  </table>
</div>



</div>