<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

  

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">

    <div class="d-inline-block">
    <div *ngIf="isLoading | async; else loading">
      <img src="/assets/loading.gif" width="32" height="32" class="d-inline-block align-top" alt="">
  </div>
  <ng-template #loading>
      <img src="/assets/brand/favicon-32x32.png" width="32" height="32" class="d-inline-block align-top" alt="">
  </ng-template>

</div>

  <div class="d-inline-block pl-2">
    {{ title }} 
  </div>

  </a>



  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" 
  aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon">
    </span>
  </button>

  <app-alert class="w-100"></app-alert>

  <div class="d-inline-block col-md-3 col-lg-2 ">
  <div ngbDropdown class="d-inline-block ">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{name|| ''}} </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem *ngIf="isAuthenticated" (click)="signout()" >Sign out</button>
    </div>
  </div>
</div>

</header>



<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" [ngClass]="{'show': collapsed}">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/connectors">
              <span data-feather="home"></span>
              Connectors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lookupgroups">
              <span data-feather="file"></span>
              Lookups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messagetemplates">
              <span data-feather="shopping-cart"></span>
              Message Templates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messagetemplatemaps">
              <span data-feather="users"></span>
              Mapping Templates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/eventtemplates">
              <span data-feather="bar-chart-2"></span>
              Event Templates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/eventmessages">
              <span data-feather="layers"></span>
              Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/appinfo">
              <span data-feather="layers"></span>
              App Info.
            </a>
          </li>
        </ul>
        
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">






      <router-outlet></router-outlet>
  
    </main>
  </div>
</div>

