<div class="card">
  <div class="header">
    <h2 class="title">{{formHeader}}</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="job" [formGroup]="jobForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Id</label>
        {{job.id || 'n/a'}}
      </div>

      <div class="form-group">
        <label for="dateStart">Start date</label>
        {{job.dateStart}}
      </div>
      
      <div class="form-group">
        <label for="dateEnd">End date</label>
        {{job.dateEnd}}
      </div>

      <div class="form-group">
        <label for="dateAdded">Date added</label>
        {{job.dateAdded}}
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input formControlName="priority" class="form-control">

        <div *ngIf="f.priority.invalid && (f.priority.dirty || f.priority.touched)"
        class="alert alert-danger">

        <div *ngIf="f.priority.errors.required">
          Priority is required.
        </div>

      </div>

    </div>

    <div class="form-group">
      <label for="event">Event </label>

      <!-- <select formControlName="event">
        <option *ngFor="let event of events;" 
          [ngValue]="event" 
          [attr.selected]="f.event.value?.id == event.id ? true : null">
          {{ event.name }}
        </option>
      </select> -->

      <textarea formControlName="event" class="form-control">{{ job.event | json}}</textarea>

      <div *ngIf="f.event.invalid && (f.event.dirty || f.event.touched)"
      class="alert alert-danger">
  
    <div *ngIf="f.event.errors.required">
      Event is required.
    </div>
      </div>
    </div>

      <div class="form-group">
        <label for="status">Status</label>

        <select formControlName="status">
          <option value="INACTIVE" selected>INACTIVE</option>
          <option value="READY">READY</option>
          <option value="STARTED">STARTED</option>
          <option value="DONE">DONE</option>
          <option value="HOLD">HOLD</option>
        </select>

        <div class="form-group">
          <label for="tag">Tag</label>
          <input formControlName="tag" class="form-control">
 
        </div>

        <div *ngIf="f.status.invalid && (f.status.dirty || f.status.touched)"
        class="alert alert-danger">

        <div *ngIf="f.status.errors.required">
          Status is required.
        </div>
      </div>


      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!jobForm.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>