
<div class="card">
  <div class="header">
    <h2 class="title">Message template List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      <a [routerLink]="['../events', 'new' ]" class="btn btn-primary active" role="button" >New</a> 
    </form>
  </div>
</div>
<div class="card" *ngIf="messageTemplateList?.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Description</th>
          <th class="border-top-0" scope="col">Attributes</th>

          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of messageTemplateList" [class.active]="item === selectedMessageTemplate">
        
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>
            <ul>
              <li *ngFor="let attribute of item.attributes">
                <ul>
                  <li>Name: {{attribute.name}}</li>
                  <li>Data type: {{attribute.dataType}}</li>
                  <li>Default value: {{attribute.defaultValue | json}}</li>
                  <li>Depth: {{attribute.depth}}</li>
                </ul>
              </li>
            </ul>
          </td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../events', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

