<div class="card">
  <div class="header">
    <h2 class="title">{{formHeader}}</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="connector" [formGroup]="connectorForm" (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <label>Id</label>
        {{connector.id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" class="form-control">


        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
        class="alert alert-danger">
    
      <div *ngIf="f.name.errors.required">
        Connector name is required.
      </div>
    </div>
        
      </div>
    
      <div class="form-group">
        <label for="description">Description</label>
        <input formControlName="description" class="form-control">

    </div>
<div>
  Settings
<div formArrayName="settings" *ngFor="let item of settingForms.controls; let i = index;">
  
  <div [formGroupName]="i">

    
    <select formControlName="profile">
      <option [ngValue]="0" selected>All</option>
      <option [ngValue]="1">Local</option>
      <option [ngValue]="2">Development</option>
      <option [ngValue]="3">Production</option>
    </select>

    <input formControlName="key" placeholder="Key">
    <input formControlName="value" placeholder="Value">
    <button (click)="deleteSetting(i)" class="btn btn-danger" >Delete</button>
  </div>

</div>

<button type="button" class="btn btn-primary" [disabled]="!connectorForm.valid" (click)="addDefaultSetting()" >Add</button>

</div>

      <button type="submit" class="btn btn-primary" [disabled]="!connectorForm.valid" >Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>




