<div class="card">
  <div class="header">
    <h2 class="title">Lookups</h2>
  </div>
</div>
<div class="card" *ngIf="lookupsPageable != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">

    <div *ngIf="lookupGroup">

      <ul class="list-unstyled">
        <li>
          Name: {{lookupGroup.name}}
        </li>
        <li>
          Description: {{lookupGroup.description}}
        </li>
     </ul>

  </div>

    Total: {{lookupsPageable.totalElements}} Current:{{lookupsPageable.numberOfElements}}

    <form  [formGroup]="lookupForm" (ngSubmit)="onSubmit()">

    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">defKey</th>
          <th class="border-top-0" scope="col">val</th>
          <th class="border-top-0" scope="col">altKey</th>
          <th class="border-top-0" scope="col"></th>
        </tr>

      </thead>
      <tbody>

        <tr>

          <td>
            {{f.id.value || 'n/a'}} 
          </td>
          <td >
      <div class="form-group">
        <input formControlName="defKey" placeholder="Default Key">


        <div *ngIf="f.defKey.invalid && (f.defKey.dirty || f.defKey.touched)"
        class="alert alert-danger">
    
      <div *ngIf="f.defKey.errors.required">
        Key is required
      </div>
    </div>
      </div>

          </td>
          <td>

      <div class="form-group">
        <input formControlName="val" placeholder="Value">


        <div *ngIf="f.val.invalid && (f.val.dirty || f.val.touched)"
        class="alert alert-danger">
    
      <div *ngIf="f.val.errors.required">
        Value is required
      </div>
    </div>
      </div>

          </td>
          <td >

            <div class="form-group">
              <input formControlName="altKey" placeholder="Alternate Key">
            </div>
            
          </td>
          <td >


          </td>
          <td>
      <button type="submit" class="btn btn-secondary" [disabled]="!lookupForm.valid" >Save</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="clearForm()" >Clear</button>

          </td>

   
    </tr>

        <tr *ngFor="let item of lookupsPageable.content" [class.active]="item === selectedLookup">

          <td>{{item.id}}</td>
          <td>{{item.defKey}}</td>
          <td>{{item.val}}</td>
          <td>{{item.altKey}}</td>
          <td></td>
          <td style="white-space: nowrap">
            <button type="button" (click)="setForEdit(item)" class="btn btn-secondary">Edit</button>&nbsp;
            <button type="button" (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </form>

  </div>
</div>