
<div class="card">
  <div class="header">
    <h2 class="title">Connector Library</h2>
  </div>
</div>
<div class="card" *ngIf="connectorLibrariesPageable != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">

    Total: {{connectorLibrariesPageable.totalElements}} Current:{{connectorLibrariesPageable.numberOfElements}}
    <form *ngIf="connectorLibrary" [formGroup]="connectorLibraryForm" (ngSubmit)="onSubmit()">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Description</th>
          <th class="border-top-0" scope="col">last modified</th>
          <th class="border-top-0" scope="col">Properties</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{f.id.value || 'n/a'}} 

          </td>
          <td>

                <div class="form-group">
                  <input type="file" name="file" class="form-control" (change)="onFileSelect($event)">
                </div>

          </td>
          <td>
            
            <div class="form-group">
              <input formControlName="description" class="form-control"  >
      
          </div>

          </td>

          <td></td>
          <td></td>
         
          <td>
            <button type="submit" class="btn btn-secondary" [disabled]="!connectorLibraryForm.valid" >Save</button>&nbsp;
            <button type="button" class="btn btn-secondary" (click)="clearForm()" >Clear</button>
          </td>
        </tr>
        <tr *ngFor="let item of connectorLibrariesPageable.content" [class.active]="item === selectedConnectorLibrary">
        
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.audDateLastModified}}</td>
          <td>
            <textarea cols="3">{{item.properties}}</textarea>
          </td>

          <td style="white-space: nowrap">
            <button type="button" (click)="setForEdit(item)" class="btn btn-secondary">Edit</button>&nbsp;
            <button type="button" (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>

